body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eae3ea;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-form {
    background-color: #A7B3A5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    color: #fff;
  }

  .input-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="email"],
  input[type="password"] {
    width: 89%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #BE5949;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom:10px;
  }

  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color:#cb503d;
  }


  .login:hover {
    background-color:#cb503d;
  }
  .samplelog {
    display: none;
    border: 2px solid #ccc;
    background-color: #cb503d8d;
    padding: 10px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

.samplelog p {
    margin: 5px 0;
}

.samplelog p:first-child {
    margin-top: 0;
}

.samplelog p:last-child {
    margin-bottom: 0;
}