.content-container {
  margin: 0 auto;
     padding-left: 270px;  
  }
  body {
    font-family: 'Cambria', serif;
    background-color: #eae3ea;
    margin: 0;
    padding: 0;
  }
  
  .fields-container {
    text-align: center;
    margin-top: 50px; 
  }

  .title {
    color: #be5949;
  }

  
  .fields {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .fields li {
    font-size: 24px;
    margin-bottom: 10px;
    color: #b4d8c0;
  }
  .fields select {
    padding: 8px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25vw;
  }
  
  .fields label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #be5949;
  }

  .error-message {
    display: none; 
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: 2px solid #be5949; 
    background-color: #ccc; 
    color: #be5949;
    border-radius: 5px;
    z-index: 9999; 
    transition: opacity 0.4s ease-in-out;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.custom-table th,
.custom-table td {
  border: 1px solid #eae3ea;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #a7b3a5;
  color: white;
}

.custom-table tr:nth-child(even) {
  background-color: #b4d8c0;
}

.custom-table tr:hover {
  background-color: #be5949;
  color: white;
}
.datepicker-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #be5949;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.roster-table {
  text-align: center;
  margin-top: 20px;
}

.title,
h2 {
  text-align: center;
  margin-top: 50px;
  color: #be5949;
  font-family: 'Cambria', serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
  /* color: #be5949; */
  font-family: 'Cambria', serif;
}

















  /* header stuff */
body {
    font-family: 'Times New Roman', serif;
    background-color: #EAE3EA;
    margin: 0;
    padding: 0;
   
  }
  .blade-header {
      font-family: 'Great Vibes', cursive;
    background-color: #be5949; 
    color: #eae3ea; 
    display: flex;
      justify-content: space-between;
      align-items: center;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .header-image {
    width: 60px; 
    height: auto; 
    margin-right: 10px; 
  }
  .header-left,
  .header-middle,
  .header-right {
      display: flex;
      align-items: center;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    margin-right: auto; 
  }
  
  .header-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blade-header h1 {
      font-family: 'Cambria', serif;
        font-size: 3em;
  }
  #logoutLink {
    position: absolute;
    margin-left: auto;
    top: 30px;
    right: 30px;
    color: #EAE3EA; 
    text-decoration: none;
  }
  @keyframes rollIn {
    0% {
        transform: translateX(800%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  #crutch {
    animation: rollIn 2s forwards;
    max-height: 50px;
    vertical-align: middle;
    margin-left: 10px;
  }
  .blade-header.scroll {
    background-color: #eae3ea; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  h1 {
    margin: 0;
    font-family: 'Cambria', serif;
    text-align: center;
    align-items: center;
  }
  body,
  ul {
  
    margin: 0;
    padding: 0;
  }
  .sidebar {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    background-color: #be5949;
    color: #b4d8c0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  .sidebar.active {
    width: 250px;
    
  }
  .sidebar-menu {
    list-style: none;
    padding: 0;
    text-align: center; 
    width: 100%
  }
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  .sidebar-menu li a {
    display: block;
    color: #eae3ea; 
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }
  .sidebar-menu li a:hover {
    background-color: #a7b3a5; 
  }
 

